PRIO/schemasXsd/003.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema id="a003" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="a003">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LISTA_DADOS_BASICOS" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DADOS_BASICOS" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LISTA_CONFIGURACAO_CV" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CONFIGURACAO_CV" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NUM_SERIE_COMPUTADOR_VAZAO" type="xs:string" minOccurs="1" />
                                <xs:element name="DHA_COLETA" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_TEMPERATURA" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_PRESSAO_ATMSA" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_PRESSAO_RFRNA" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_DENSIDADE_RELATIVA" type="xs:string" minOccurs="1" />
                                <xs:element name="DSC_NORMA_UTILIZADA_CALCULO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_NITROGENIO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_CO2" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_METANO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_ETANO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_PROPANO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_N_BUTANO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_I_BUTANO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_N_PENTANO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_I_PENTANO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_HEXANO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_HEPTANO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_OCTANO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_NONANO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_DECANO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_H2S" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_AGUA" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_HELIO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_OXIGENIO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_CO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_HIDROGENIO" type="xs:string" minOccurs="1" />
                                <xs:element name="PCT_CROMATOGRAFIA_ARGONIO" type="xs:string" minOccurs="1" />
                                <xs:element name="DSC_VERSAO_SOFTWARE" type="xs:string" minOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LISTA_ELEMENTO_PRIMARIO" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ELEMENTO_PRIMARIO" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ICE_LIMITE_SPRR_ALARME" type="xs:string" minOccurs="1" />
                                <xs:element name="ICE_LIMITE_INFRR_ALARME" type="xs:string" minOccurs="1" />
                                <xs:element name="IND_HABILITACAO_ALARME" type="xs:string" minOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LISTA_INSTRUMENTO_PRESSAO" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="INSTRUMENTO_PRESSAO" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NUM_SERIE" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_PRSO_LIMITE_SPRR_ALRME" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_PRSO_LMTE_INFRR_ALRME" type="xs:string" minOccurs="1" />
                                <xs:element name="IND_HABILITACAO_ALARME" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_PRSO_ADOTADA_FALHA" type="xs:string" minOccurs="1" />
                                <xs:element name="DSC_ESTADO_INSNO_CASO_FALHA" type="xs:string" minOccurs="1" />
                                <xs:element name="IND_TIPO_PRESSAO_CONSIDERADA" type="xs:string" minOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LISTA_INSTRUMENTO_TEMPERATURA" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="INSTRUMENTO_TEMPERATURA" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NUM_SERIE" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_TMPTA_SPRR_ALARME" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_TMPTA_INFRR_ALRME" type="xs:string" minOccurs="1" />
                                <xs:element name="IND_HABILITACAO_ALARME" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_TMPTA_ADTTA_FALHA" type="xs:string" minOccurs="1" />
                                <xs:element name="DSC_ESTADO_INSTRUMENTO_FALHA" type="xs:string" minOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LISTA_PLACA_ORIFICIO" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PLACA_ORIFICIO" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="MED_DIAMETRO_REFERENCIA" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_TEMPERATURA_RFRNA" type="xs:string" minOccurs="1" />
                                <xs:element name="DSC_MATERIAL_CONTRUCAO_PLACA" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_DMTRO_INTRO_TRCHO_MDCO" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_TMPTA_TRCHO_MDCO" type="xs:string" minOccurs="1" />
                                <xs:element name="DSC_MATERIAL_CNSTO_TRCHO_MDCO" type="xs:string" minOccurs="1" />
                                <xs:element name="DSC_LCLZO_TMDA_PRSO_DFRNL" type="xs:string" minOccurs="1" />
                                <xs:element name="IND_TOMADA_PRESSAO_ESTATICA" type="xs:string" minOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LISTA_INST_DIFEREN_PRESSAO_ALTA" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="INST_DIFEREN_PRESSAO_ALTA" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NUM_SERIE" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_PRSO_LIMITE_SPRR_ALRME" type="xs:string" minOccurs="0" />
                                <xs:element name="MED_PRSO_LMTE_INFRR_ALRME" type="xs:string" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LISTA_INST_DIFEREN_PRESSAO_MEDIA" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="INST_DIFEREN_PRESSAO_MEDIA" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NUM_SERIE" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_PRSO_LIMITE_SPRR_ALRME" type="xs:string" minOccurs="0" />
                                <xs:element name="MED_PRSO_LMTE_INFRR_ALRME" type="xs:string" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LISTA_INST_DIFEREN_PRESSAO_BAIXA" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="INST_DIFEREN_PRESSAO_BAIXA" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NUM_SERIE" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_PRSO_LIMITE_SPRR_ALRME" type="xs:string" minOccurs="0" />
                                <xs:element name="MED_PRSO_LMTE_INFRR_ALRME" type="xs:string" minOccurs="0" />
                                <xs:element name="IND_HABILITACAO_ALARME" type="xs:string" minOccurs="0" />
                                <xs:element name="MED_PRSO_ADOTADA_FALHA" type="xs:string" minOccurs="0" />
                                <xs:element name="DSC_ESTADO_INSNO_CASO_FALHA" type="xs:string" minOccurs="0" />
                                <xs:element name="MED_CUTOFF_KPA" type="xs:string" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LISTA_INST_DIFEREN_PRESSAO_PRINCIPAL" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="INST_DIFEREN_PRESSAO_PRINCIPAL" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NUM_SERIE" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_PRSO_LIMITE_SPRR_ALRME" type="xs:string" minOccurs="0" />
                                <xs:element name="MED_PRSO_LMTE_INFRR_ALRME" type="xs:string" minOccurs="0" />
                                <xs:element name="IND_HABILITACAO_ALARME" type="xs:string" minOccurs="0" />
                                <xs:element name="MED_PRSO_ADOTADA_FALHA" type="xs:string" minOccurs="0" />
                                <xs:element name="DSC_ESTADO_INSNO_CASO_FALHA" type="xs:string" minOccurs="0" />
                                <xs:element name="MED_CUTOFF_KPA" type="xs:string" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LISTA_PRODUCAO" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PRODUCAO" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="DHA_INICIO_PERIODO_MEDICAO" type="xs:string" minOccurs="1" />
                                <xs:element name="DHA_FIM_PERIODO_MEDICAO" type="xs:string" minOccurs="1" />
                                <xs:element name="ICE_DENSIDADE_RELATIVA" type="xs:string" minOccurs="0" />
                                <xs:element name="MED_DIFERENCIAL_PRESSAO" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_PRESSAO_ESTATICA" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_TEMPERATURA" type="xs:string" minOccurs="1" />
                                <xs:element name="PRZ_DURACAO_FLUXO_EFETIVO" type="xs:string" minOccurs="1" />
                                <xs:element name="MED_CORRIGIDO_MVMDO" type="xs:string" minOccurs="1" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="NUM_SERIE_ELEMENTO_PRIMARIO" type="xs:string" use="required" />
                  <xs:attribute name="COD_INSTALACAO" type="xs:string" use="required" />
                  <xs:attribute name="COD_TAG_PONTO_MEDICAO" type="xs:string" use="required" />                  
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DADOS_ADICIONAIS_GERACAO_XML" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="VERSAO_GERADOR" type="xs:string" minOccurs="1" maxOccurs="1" />
              <xs:element name="NOME_MAQUINA" type="xs:string" minOccurs="1" maxOccurs="1" />
              <xs:element name="ENDERECO_IP" type="xs:string" minOccurs="1" maxOccurs="1" />
              <xs:element name="ENDERECO_MAC" type="xs:string" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>